@font-face {
    font-family: "CaveatRegular";
    font-weight: 400;
    src: url(../assets/fonts/Caveat-Regular.ttf) format("ttf");
    }

    @font-face {
    font-family: "TSRemarker";
    font-weight: 400;
    src: url(../assets/fonts/TSRemarkerRegular.otf) format("otf");
    }
