// Colors
// цвета фона
$white: #fff;
$mint:#eaf4f1;
// цвета кнопок, заголовкиб кругляшиб кнопки слайдеровб отзывы
$darkcyan:#2a7d83;
// меню хедера
$blue:#2d4176;
// меню хедера при наведении + все красные надписи
$red:#ea5949;
// более тёмный синий - цифры в о студии, и надписи в разговорном клубе + футер
$indigo:#3E396F;
// Имена команды
$orange:#E7AE0D;

