// Fonts on
@import "./fonts";

// Colors
// цвета фона
$white: #fff;
$mint: #eaf4f1;
// цвета кнопок, заголовкиб кругляши, кнопки слайдеров, отзывы
$darkcyan: #2a7d83;
// меню хедера
$blue: #2d4176;
// меню хедера при наведении + все красные надписи
$red: #ea5949;
// более тёмный синий - цифры в о студии, и надписи в разговорном клубе + футер
$indigo: #3e396f;
// Имена команды
$orange: #e7ae0d;
//Главная страница подзаголовок
$darkblue: #4a2677;

// Fonts
$title: "CaveatRegular", sans-serif;
$title-size: 64px;
$main-font: "TSRemarker", sans-serif;
$main-size: 32px;

// Display
$dg: grid;
$df: flex;

// Screen-sizes
$big-display: 1600px;
$tablet: 768px;
$mobile: 360px;

* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    margin: 0 auto;
}

/*Кнопка*/
%button {
    display: $df;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $darkcyan;
    font-family: $main-font;
    font-weight: 400;
    font-size: $main-size;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-align: center;
    color: $white;
    text-decoration: none;
}

// Header styles start

// header styles end

// О студии styles start

// О студии styles end

// Курсы styles start

// курсы styles end

// наша команда styles start
.teamtitle{
    text-align: center;
    padding-bottom: 99px;
    padding-top: 136px;
    font-family: $title;
    font-size: $title-size ;
    color: $darkcyan;
}
.teamcards{
    // max-width: 607px;
    // width: 100%;
    // height: 999px;
    margin: 0 auto;
}
.teamcard__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
    row-gap: 70px;
    max-width: 1600px;
    
    padding-left: 104px;
    padding-right: 104px;

}
.teamcard__content{
    max-width: 607px;


}
.teamcard__text{
    ul {
        list-style: none;
        padding: 60px 29px 0 29px ;
    }
    ul li:before {
        content:  "—";
        position: relative;
        left:-4px;
        }
    ul li {
        font-family: $main-font;
        font-size: 32px;
        line-height: 87%;
        color: #000;
        padding-top: 20px;
    }  

    h2{
        text-align: center;
        font-family: $title;
        font-size: 64px;
        line-height: 78%;
        color: $orange;
        }
}

.teamcard__photo{
    text-align: center;
    margin-bottom: -145px;
}

.teamcard__photo img{
    max-width: 290px;
}

.teamcard__text{
    border-radius: 44px;
    background: #eaf4f1;
    height: 711px;
    padding-top: 160px;
}
// Swiper
.swipesection {
    display: none;
}
.swiper{
    width: 769px;
    margin: 0 auto;

}
.mySwiper{
    max-width: 769px;
    width: 100%;
    height: 999px;
}
.swiper__text{
    background: #eaf4f1;
    width: 470px;
    max-height: 911px;
    height: 75%;
    border-radius: 44px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 20px;

    ul {
        list-style: none;
        padding: 20px 20px 0 25px ;}


    ul li:before {
        content:  "—";
        position: relative;
        left:-4px;
    }
    ul li {
        list-style: none;
        font-family: $main-font;
        font-size: 32px;
        line-height: 87%;
        color: #000;
        padding-top: 20px;
    } 
    h2{
        padding-top: 50px;
        text-align: center;
        font-family: $title;
        font-size: 48px;
        line-height: 104%;
        color: $orange;
}
}
.swiper__photo{
    text-align: center;
    margin-bottom: -105px;

}
.swiper__photo img{
    max-width: 225px;
}
.swiper-slide:nth-child(1) {
    width: 70%;
}
.swiper-slide:nth-child(2n) {
    width: 70%;
}

.swiper-slide:nth-child(3n) {
    width: 70%;
}

// наша команда styles end

// speaking club styles start

// speaking club styles end

// отзывы  styles start

.reviews{
    background-color: $white;
    // border: black 1px solid;
    max-width: 1600px;
    width: 100%;
    height: 80%;
    }
    
    .reviews_content,
    .reviews_title,
    .reviews_inscription,
    .reviews_slider,
    .reviews_card,
    // .swiper-wrapper,
    .swiper-slide{
    display: $df;
    }
    
    .reviews_content,
    .reviews_inscription{
    align-items: center;
    justify-content: center;
    }
    
    .reviews_content{
    // border: blue 1px solid;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    padding: 135px 40px 100px 0px;
    /* попробовать заменить на относительные единицы */
    flex-direction: column;
    }
    

    .reviews_title{
    // border: red 1px solid;
    width: 20%;
    height: 8%;
    padding-bottom: 5%;
    }
    
    
    .reviews_inscription{
    // border: green 1px solid;
    width: 100%;
    height: 100%;
    padding: 3% 10% 3% 2%;
    font-family: $title;
    font-weight: 400;
    font-size: $title-size;
    line-height: 78%;
    letter-spacing: -0.01em;
    text-align: center;
    color: $darkcyan;
    }
    
    .reviews_slider{
    // border: palegreen 1px solid;
    max-width: 1600px;
    width: 90%;
    // height: 80%;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: center;
    // padding-right: 0;
    }


    // .swiper-wrapper{
        // border: #ea5949 1px solid;
    // }

    .swiper-slide-first{
        margin-left: 1.5%;
    }
    
    
    .reviews_card{
    // border: yellow 1px solid;
    // flex-direction: column;
    // position: relative;
    flex-shrink: 1;
    // align-items: flex-start;
    // justify-content: space-between;
    // background-color: $mint;
    // border-radius: 44px;
    width: 419px;
    height: 478px;
    /* перевести в проценты */
    // padding: 2%;
    }
    
    .reviews_content{
        width: 100%;
    }

    .one{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 478px;
        width: 419px;
        background-color: $mint;
        border-radius: 44px;
    }

    .reviews_text{
        margin: 48px 30px 0 30px;
    }

    .reviews_signature{
        margin: 0 30px 48px 30px;
    }
    
    .reviews_text,
    .reviews_signature{
    font-family: $main-font;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #000;
    }

    .swiper-button-next:after{
        content: url(/assets/images/button-next.svg)!important;
    }

    .swiper-button-prev:after{
        content: url(/assets/images/button-prev.svg) !important;
    }
    
    .reviews_button,
    .button,
    .reviews_sent{
    @extend%button
    }
    
    .reviews_button__big{
    width: 419px;
    height: 98px;
    margin-top: 3%;
    }
    
    // .swiper,
    // .swiper-wrapper{
    // height: 100%;
    // border: purple solid 1px;
    // }

// отзывы  styles end

// footer styles start

// footer club styles end

// Медиа запросы секций Наша команда и Swiper 
@media screen and (max-width: 1287px){
    .teamcard__wrapper{
        column-gap: 100px;
        padding-left: 90px;
        padding-right: 90px;
    }

    .teamcard__text{
        ul li {
            font-size: 28px;
            line-height: 87%;
        } 
        ul li:first-child{
            padding-top: 0; 
        } 
    }
}
@media screen and (max-width: 1028px){
    .teamcard__wrapper{
        column-gap: 50px;
        padding-left: 45px;
        padding-right: 45px;
    }
}
@media screen and (max-width: 860px){
    .teamcard__text{
        ul li {
            font-size: 24px;
            line-height: 87%;
        } 
}
}
        
@media screen and (max-width: 800px){
    .swipesection{
        display: flex;
        justify-content: center;
    }
    .teamcards_container{
        display: none;
    }
    .teamtitle{
        font-size: 48px ;
        padding-top: 120px;
    } 
    .swiper {
        width: 100%;

    }
    .swiper-slide:nth-child(1) {
        width: 70%;
        padding-left: 27px;
    }
    
    .swiper-slide:nth-child(2n) {
        width: 70%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 70%;

    }
    .swiper-slide:nth-child(4){
        padding-right: 27px;
    }
}
@media screen and (min-width: 800px){
    .swipesection,
    .swiper,
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        display: none;
    }
    .teamcards_container{
        display: block;
    }
    
}

@media screen and (max-width: 645px){
    .swiper {
        width: 100%;
    }
    .swiper-slide:nth-child(1) {
        width: 80%;

    }
    
    .swiper-slide:nth-child(2n) {
        width: 80%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 80%;

    }
}

@media screen and (max-width: 565px){
    .swiper-slide:nth-child(1) {
        width: 85%;
        padding-left: 10px;
    }
    
    .swiper-slide:nth-child(2n) {
        width: 85%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 85%;

    }
}


@media screen and (max-width: 528px){
    .swiper-slide:nth-child(1) {
        width: 85%;
        padding-left: 10px;
    }
    
    .swiper-slide:nth-child(2n) {
        width: 85%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 85%;

    }
    .swiper-slide:nth-child(4){
        padding-right: 27px;
    }
}

@media screen and (max-width: 500px){
    .teamtitle{
        font-size: 32px;
        line-height: 156%;
        padding-top: 62px;
        padding-bottom: 54px;
    }
    .swiper{
        width: 500px;
        margin: 0 auto;
    
    }
    .mySwiper{
        max-width: 500px;
        // width: 90%;
        height: 750px;
    }
    .swiper__text{
        width: 257px;
        max-height: 750px;
        height: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
    
        ul {
            list-style: none;
            padding-top: 0;
        }
    
        ul li {
        font-size: 16px;
        line-height: 175%;
        padding-top: 15px;
        } 
        ul li:first-child{
            padding-top: 0; 
        }
    h2{
        font-size: 24px;
        line-height: 208%;
    }
    }
    .swiper__photo{
    margin-bottom: -61px;
    }
    .swiper__photo img{
        max-width: 123px;
    }

    .swiper-slide:nth-child(1) {
        width: 65%;
        padding-left: 11px;
    }

    .swiper-slide:nth-child(2n) {
        width: 65%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 65%;

    }
    .swiper-slide:nth-child(4){
        padding-right: 11px;
    }
}
@media screen and (max-width: 440px){
    .swiper-slide:nth-child(1) {
        width: 70%;
    }

    .swiper-slide:nth-child(2n) {
        width: 70%;
    }
    
    .swiper-slide:nth-child(3n) {
        width: 70%;
    }

}
@media screen and (max-width: 330px){
    .swiper-slide:nth-child(1) {
        width: 74%;
    }

    .swiper-slide:nth-child(2n) {
        width: 74%;
        margin-left: 10px;

    }
    .swiper-slide:nth-child(3n) {
        width: 74%;
        margin-left: 10px;
    }
    .swiper-slide:nth-child(4){
        width: 80%;

    }

}


