// Fonts on
@import "./fonts";

// Colors
// цвета фона
$white: #fff;
$mint: #eaf4f1;
// цвета кнопок, заголовкиб кругляши, кнопки слайдеров, отзывы
$darkcyan: #2a7d83;
// меню хедера
$blue: #2d4176;
// меню хедера при наведении + все красные надписи
$red: #ea5949;
// более тёмный синий - цифры в о студии, и надписи в разговорном клубе + футер
$indigo: #3e396f;
// Имена команды
$orange: #e7ae0d;
//Главная страница подзаголовок
$darkblue: #4a2677;

// Fonts
$title: "CaveatRegular", sans-serif;
$title-size: 64px;
$main-font: "TSRemarker", sans-serif;
$main-size: 32px;

// Display
$dg: grid;
$df: flex;

// Screen-sizes
$big-display: 1600px;
$tablet: 768px;
$mobile: 360px;

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0 auto;
}

/*Кнопка*/
%button {
  display: $df;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: $darkcyan;
  font-family: $main-font;
  font-weight: 400;
  font-size: $main-size;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: $white;
  text-decoration: none;
}

// Header styles start

// header styles end

// О студии styles start

// О студии styles end

// Курсы styles start

// курсы styles end

// наша команда styles start

// наша команда styles end

// speaking club styles start

// speaking club styles end

// отзывы  styles start
.reviews{
    background-color: $white;
    // border: black 1px solid;
    max-width: 1600px;
    width: 100%;
    height: 80%;
}

.reviews_content,
.reviews_title,
.reviews_inscription,
.reviews_slider,
.reviews_card{
    display: $df;
}

.reviews_content,
.reviews_inscription{
    align-items: center;
    justify-content: center;
}


.reviews_content{
    // border: blue 1px solid;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    padding: 135px 40px 100px 40px;
    /* попробовать заменить на относительные единицы */
    flex-direction: column;
}


.reviews_title{
    // border: red 1px solid;
    width: 20%;
    height: 8%;
    padding-bottom: 5%;
}


.reviews_inscription{
    // border: green 1px solid;
    width: 100%;
    height: 100%;
    padding: 3% 10% 3% 2%;
    font-family: $title;
    font-weight: 400;
    font-size: $title-size;
    line-height: 78%;
    letter-spacing: -0.01em;
    text-align: center;
    color: $darkcyan;
}

.reviews_slider{
    // border: palegreen 1px solid;
    width: 100%;
    height: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.reviews_card{
    // border: yellow 1px solid;
    flex-direction: column;
    flex-shrink: 1;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $mint;
    border-radius: 44px;
    width: 419px;
    height: 478px;
    /* перевести в проценты */
    padding: 2%;
}

.reviews_text,
.reviews_signature{
    font-family: $main-font;
    font-weight: 400;
    font-size: $main-size;
    line-height: 117%;
    color: #000;
}

.reviews_button,
.button,
.reviews_sent{
    @extend%button
}

.reviews_button__big{
    width: 419px;
    height: 98px;
    margin-top: 3%;
}

// отзывы  styles end

// footer styles start

// footer club styles end
