@charset "UTF-8";
@font-face {
  font-family: "CaveatRegular";
  font-weight: 400;
  src: url(../assets/fonts/Caveat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "TSRemarker";
  font-weight: 400;
  src: url(../assets/fonts/TSRemarkerRegular.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

/*Кнопка*/
.header__caption-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #2a7d83;
  font-family: "TSRemarker", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.header {
  width: 96%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 13% 10% 1fr;
  margin: 2%;
}

.header__logo {
  grid-column: 1/2;
  grid-row: 1/4;
  background-repeat: no-repeat;
  background-image: url(/assets/images/logo-back.svg);
  background-size: 70%;
}

.header__logo-image-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  padding-left: 10%;
  position: sticky;
  top: 0;
}

.header__logo-image-container.top-of-page { /*добавление фона меню при скролле*/
  background-color: rgba(255, 255, 255, 0.8);
  grid-row: 1;
  grid-column: 1/3;
}

.header__menu {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.header__menu-item {
  list-style-type: none;
}

.header__menu-link {
  text-decoration: none;
  font-family: "TSRemarker", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 156%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2d4176;
}

.header__menu-link:visited {
  color: #2d4176;
}

.header__menu-link:hover {
  color: #ea5949;
  box-shadow: 10px 10px 10px 10px rgba(234, 244, 241, 0.76);
}

#menu__toggle {
  opacity: 0;
}

.header__menu-gamburger {
  opacity: 0;
}

.header__caption {
  grid-column: 1/2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__link-social {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/4;
  background-image: url(/assets/images/home-page.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header__caption-title {
  font-family: "TSRemarker", sans-serif;
  font-weight: 400;
  font-size: 4em;
  line-height: 59%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ea5949;
}

.header__caption-text {
  font-family: "TSRemarker", sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #4A2677;
}

.header__caption-text_min {
  font-size: 32px;
}

.header__caption-btn { /*Кнопка*/
  width: 70%;
  height: 55px;
}

.footer {
  width: 100%;
  display: flex;
  background-color: #eaf4f1;
  flex-direction: column;
}

.footer__upper-container, .footer__lower-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.footer__upper-container-logo {
  max-width: 70%;
}

.footer__lower-container-contacts_info, .footer__lower-container-contacts_mail, .footer__upper-container-contacts {
  text-align: right;
}

.footer__lower-container-contacts_info, .footer__lower-container-contacts_mail {
  font-family: "TSRemarker", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 156%;
  letter-spacing: -0.01em;
  color: #3e396f;
}

.footer__lower-container-contacts_mail {
  text-decoration: none;
}

.footer__lower-container-contacts_mail:hover {
  color: #ea5949;
}

.footer__upper-container-contacts {
  font-family: "CaveatRegular", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 78%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #3e396f;
}

/*Адаптивность для планшета и маленького десктопа начало*/
@media screen and (min-width: 1023px) and (max-width: 1410px) {
  .header__caption-btn { /*Кнопка*/
    font-size: 1.35em;
  }
}
@media screen and (min-width: 681px) and (max-width: 1023px) {
  .header__menu-link, .footer__lower-container-contacts_info, .footer__lower-container-contacts_mail {
    font-size: 1.125em;
  }
  .header__caption-title {
    font-size: 3.125em;
  }
  .header__caption-text {
    font-size: 2em;
  }
  .header__caption-text_min {
    font-size: 1.25em;
  }
  .header__caption-btn { /*Кнопка*/
    font-size: 1.25em;
  }
  .footer__upper-container-contacts {
    font-size: 3.125em;
  }
  .footer__upper-container-logo {
    max-width: 17%;
  }
}
@media screen and (min-width: 427px) and (max-width: 680px) {
  .header__menu-link, .footer__lower-container-contacts_info, .footer__lower-container-contacts_mail {
    font-size: 0.8em;
  }
  .header__caption-title {
    font-size: 2em;
  }
  .header__caption-text {
    font-size: 1.5em;
  }
  .header__caption-text_min {
    font-size: 1.25em;
  }
  .header__caption-btn { /*Кнопка*/
    font-size: 1.1em;
  }
  .footer__upper-container-contacts {
    font-size: 2em;
  }
  .footer__upper-container-logo {
    max-width: 17%;
  }
}
/*Адаптивность для планшета и и маленького десктопа  конец*/
/*Адаптивность для мобильного начало*/
@media screen and (max-width: 426px) {
  /*Хедер старт*/
  /*Гамбургер меню старт*/
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
  .menu__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2d4176;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    padding-right: 0;
    padding-bottom: 1%;
    list-style: none;
    background-color: #eaf4f1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .header__menu-gamburger {
    opacity: 1;
    display: block;
    padding: 1%;
    text-decoration: none;
    transition-duration: 0.25s;
    text-align: center;
    font-size: 2em;
    color: #2a7d83;
    font-family: "CaveatRegular", sans-serif;
  }
  .header__menu-item {
    display: block;
    padding: 3%;
    text-decoration: none;
    transition-duration: 0.25s;
    text-align: center;
  }
  .header__menu-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  /*Гамбургер меню конец*/
  .header__logo {
    grid-column: 1/3;
    grid-row: 1/4;
    background-size: 50%;
  }
  .header__logo-image-container {
    grid-column: 1/3;
    grid-row: 1/2;
    position: sticky;
    top: 0;
  }
  .header__logo-image-container.top-of-page {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .header__link-social_icon {
    width: 70%;
  }
  .header__caption-title {
    font-size: 1.5em;
  }
  .header__caption-text {
    font-size: 0.9375em;
  }
  .header__caption-btn { /*Кнопка на мобильном*/
    font-size: 1em;
    width: 100%;
    height: 55px;
  }
  .header {
    box-sizing: border-box;
    height: 50vh;
    grid-template-columns: 48% 52%;
  }
  .header__logo-image {
    width: 70%;
  }
  .header__menu-link {
    font-size: 1em;
  }
  /*Хедер конец/

  /*Футер старт*/
  .footer__upper-container-logo {
    max-width: 30%;
  }
  .footer__lower-container-contacts_info, .footer__lower-container-contacts_mail {
    font-size: 1em;
  }
  .footer__upper-container-contacts {
    font-size: 2em;
  }
  .footer__lower-container_social-link-icon {
    width: 30%;
  }
  /*Футер конец*/
}
/*Адаптивность для мобильного конец*//*# sourceMappingURL=index.css.map */