@charset "UTF-8";
@font-face {
  font-family: "CaveatRegular";
  font-weight: 400;
  src: url(../assets/fonts/Caveat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "TSRemarker";
  font-weight: 400;
  src: url(../assets/fonts/TSRemarkerRegular.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

/*Кнопка*/
.test {
  display: flex;
  justify-content: space-between;
  font-family: "CaveatRegular", sans-serif;
  color: #ea5949;
  font-size: 64px;
}

.test1 {
  font-family: "TSRemarker", sans-serif;
  color: #3e396f;
  font-size: 32px;
}

.teamtitle {
  text-align: center;
  padding-bottom: 99px;
  padding-top: 136px;
  font-family: "CaveatRegular", sans-serif;
  font-size: 64px;
  color: #2a7d83;
}

.teamcards {
  margin: 0 auto;
}

.teamcard__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 70px;
  max-width: 1600px;
  padding-left: 104px;
  padding-right: 104px;
}

.teamcard__content {
  max-width: 607px;
}

.teamcard__text ul {
  list-style: none;
  padding: 60px 29px 0 29px;
}
.teamcard__text ul li:before {
  content: "—";
  position: relative;
  left: -4px;
}
.teamcard__text ul li {
  font-family: "TSRemarker", sans-serif;
  font-size: 32px;
  line-height: 87%;
  color: #000;
  padding-top: 20px;
}
.teamcard__text h2 {
  text-align: center;
  font-family: "CaveatRegular", sans-serif;
  font-size: 64px;
  line-height: 78%;
  color: #e7ae0d;
}

.teamcard__photo {
  text-align: center;
  margin-bottom: -145px;
}

.teamcard__photo img {
  max-width: 290px;
}

.teamcard__text {
  border-radius: 44px;
  background: #eaf4f1;
  height: 711px;
  padding-top: 160px;
}

.swipesection {
  display: none;
}

.swiper {
  width: 769pxpx;
  margin: 0 auto;
}

.mySwiper {
  max-width: 769px;
  width: 100%;
  height: 999px;
}

.swiper__text {
  background: #eaf4f1;
  width: 470px;
  max-height: 911px;
  height: 75%;
  border-radius: 44px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 20px;
}
.swiper__text ul {
  list-style: none;
  padding: 20px 20px 0 25px;
}
.swiper__text ul li:before {
  content: "—";
  position: relative;
  left: -4px;
}
.swiper__text ul li {
  list-style: none;
  font-family: "TSRemarker", sans-serif;
  font-size: 32px;
  line-height: 87%;
  color: #000;
  padding-top: 20px;
}
.swiper__text h2 {
  padding-top: 50px;
  text-align: center;
  font-family: "CaveatRegular", sans-serif;
  font-size: 48px;
  line-height: 104%;
  color: #e7ae0d;
}

.swiper__photo {
  text-align: center;
  margin-bottom: -105px;
}

.swiper__photo img {
  max-width: 225px;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
}

@media screen and (max-width: 768px) {
  .swipesection {
    display: flex;
    justify-content: center;
  }
  .teamcards_container {
    display: none;
  }
  .teamtitle {
    font-size: 48px;
    padding-top: 120px;
  }
}
@media screen and (min-width: 768px) {
  .swipesection,
  .swiper,
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    display: none;
  }
  .teamcards_container {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */